html {
    scroll-behavior: smooth;
}

#chapter {
    width: 100%;
    height: 40px;
   margin-top: 15px;
}

#chapter ul {
    display: flex;
    justify-content: flex-start;
}

#chapter li::after {
    content: ">";
    margin: 0 10px;
}

#chapter li:last-child::after {
    display: none;
}


#submain {
    width: 100%;
    height: 540px;
   
}

#submain>ul {
    display: flex;
    justify-content: space-between;
}

#submainimgpage {
    width: 500px;
    height: 535px;
    background-color: #F6F6F9;
}

#submainimgpage img {
    width: 250px;
    height: 345px;
    
}

#mainimg {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#mainbutton {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

#mainbutton button {padding: 10px;
    margin: 0 5px;
    margin-bottom: 60px;
}

#submaintextpage {
    width: 610px;
    height: 540px;
   
}

#submaintextpage ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pagetext {
    width: 100%;
    height: auto;
   
}

/* ____________________________________________________________newbookslider */


#newbook {
    width: 100%;
    height: 245px;
   
}

#newbooktext ul {
    width: 100%;
    height: 60px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#newbooktext ul li {
    width: auto;
    height: auto;
    margin: 0 10px;
  
}

#slider {
    width: 100%;
    height: 185px;
    position: relative;
}

#slider .swiper-button-next {
    width: 45px;
    height: 45px;
    border: 1px solid #F6F6F9;
    border-radius: 50%;
    color: gray;
    position: absolute;
    right: -25px;
    background-color: white;
}

#slider .swiper-button-prev {
    width: 45px;
    height: 45px;
    border: 1px solid #F6F6F9;
    border-radius: 50%;
    color: gray;
    position: absolute;
    left: -25px;
    background-color: white;
}

#slider img {
    width: 100px;
    height: 140px;
}

.subnew_book {
    width: 565px;
    height: 185px;
    display: contents;
    justify-content: space-between;
}

.subnewbookimg {
    width: 155px;
    height: 185px;
    background-color: #F6F6F9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subnewbookinfo {
    width: 385px;
    height: 185px;
}

/* ----------------------------------------------------subpage */
#persontext li {
    display: flex;
    justify-content: space-between;
}

#persontext li p,
span {
    margin: 0 20px;
}

#subpage {
    width: 100%;
    height: auto;
   
    display: flex;
    
} 
.submainapi {width: 100%; height: 100%;}
.submainapi > ul {width: 100%; height: 100%; display: flex; justify-content: space-between; 
     position: relative;}

#sub1page {
    width: 750px;
    height: auto;
}

#fixed {
    width: 100%;
    height: 55px;
    background-color: white;
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
}
#fixed ul{width: 100%; height: 100%; display: flex; align-items: center; gap: 10px; margin-left: 10px; font-size: medium; font-weight: bold;}


#fixed2 {
    width: 360px;
    height: 1500px;
    background-color: black;
    /* position: relative; */
}

#fixedblok {
    width: 100%;
    height: 245px;
    background-color: blueviolet;
    position: sticky;
    top: 0;
}

/* -------------------------------------------------------------- */
.h2 {
    width: 100%;
    height: 30px;
}

#person {
    width: 100%;
    height: 180px;
    margin-top: 20px;
    border: 1px solid #EDEDF3;
    border-radius: 8px;
}

#person ul {
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    
}

#person ul li:not(:first-child){ display: flex; justify-content: space-between;}

#person img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

#memo {
    width: 100%;
    height: auto;
   
}


.accordion-container{width: 100%; height: auto; border-top: 1px solid #EDEDF3;}

.accordion-header {width: 100%; height: auto; margin: 10px 0; border-bottom: 1px solid #EDEDF3; cursor: pointer;}
.accordion-content {
    display: none;
}
.accordion-item.active .accordion-content {
  display: block;
}

.isbn {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    
}

#reviewmaking {
    width: 100%;
    height: 40px;
    
}

#reviewmaking ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reviewmaking button {
    width: 90px;
    height: 35px;
}

#reviewbox {
    width: 100%;
    height: 160px;
    background-color: hotpink;
}

#reviewtop {
    width: 100%;
    height: auto;
    
}

#reviewtop>ul {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reviewtop>ul ul {
    display: flex;
}

.tab-btn {
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    border: 1px solid #F6F6F9;
    border-radius: 25px;
    cursor: pointer;
    z-index: 10;
}

#tabcontent {
    width: 750px;
    height: 240px;
  

    position: relative;
}

.tab-content {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #EDEDF3;
    

}


.tab-content:not(:first-child){
    display: none;
}


#split {
    width: 100%;
    height: auto;
  
}

#split ul{list-style: disc; padding: 20px;}

#delivery {
    width: 100%;
    height: 400px;
   
}


/* ---------------------------------------tab */